title: "Chetan's Notes and Research"
description: "Computer Science, Security, Math, etc."
theme: minima

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed

permalink: /:year/:month/:day/:title/